{% extends "base.html" %}

{% block content %}
<div class="page-container" id="about-page">
    <div class="content-card floating">
        <h2>About Me</h2>
        <div class="about-grid">
            <div class="about-text">
                <p>I am a passionate developer exploring the cosmos of code. My journey began with systems programming
                    in C++ and has evolved into creating dynamic web experiences with Python and Flask.</p>
                <p>Like a black hole, my curiosity is infinite. I strive to build applications that not only function
                    flawlessly but also look stunning, defying the gravity of boring design.</p>
            </div>
            <div class="about-visual">
                <i class="fas fa-user-astronaut"></i>
            </div>
        </div>
    </div>
</div>
{% endblock %}